<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="./admin/login" method="post">
        <input type="text" name="user_name" />
        <input type="password" name="password" />
        <input type="submit" value="登录"/>
    </form>
</body>
</html>
