        </div>
        <footer>
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul>
            <div class="record">
                <span>Copyright ©zhoucn</span>
                <a href="http://www.miitbeian.gov.cn" style="color:#fff;">粤ICP备18141544号</a>
            </div>
        </footer>
        <div class="top" id="top" title="回到顶部"></div>
    </body>
</html>
