            </div>
            <footer class="animated bounceInUp">
                <ul>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                </ul>
                <div class="record">
                    <span>Copyright ©zhoucn</span>
                    <a href="http://www.miitbeian.gov.cn">粤ICP备18141544号</a>
                </div>
            </footer>
            <div class="bg-box">
                <div class="bg bg1"></div>
                <div class="bg bg2"></div>
                <div class="bg bg3"></div>
            </div>
            <div class="top" id="top" title="回到顶部"></div>
        </section>
        <script type="text/javascript">
            document.body.addEventListener("scroll",function(e){
                console.log(e.offset)
            },false)
        </script>
    </body>
</html>
