<%include header.ejs %>
    <div class="aside-box animated bounceInRight">
        <aside class="aside">
            <h3><i class="fa fa-clock-o"></i>最新</h3>
            <a href="./article?id=1">文章文章文章文章</a>
            <a href="./article?id=1">文章文章文章文章</a>
            <a href="./article?id=1">文章文章文章文章</a>
            <a href="./article?id=1">文章文章文章文章</a>
            <h3><i class="fa fa-thumbs-up"></i>热门</h3>
            <a href="./article?id=1">文章文章文章文章</a>
            <a href="./article?id=1">文章文章文章文章</a>
            <a href="./article?id=1">文章文章文章文章</a>
            <a href="./article?id=1">文章文章文章文章</a>
        </aside>
    </div>
    <div class="article">
        <ul>
            <li>
                <a href="./article?id=1">
                    <img class="img" src="/images/article.jpg" alt="" />
                    <div class="content">
                        <h3>flex布局</h3>
                        <p>Flex 布局语法教程分类 编程技术 网页布(layout)是CSS的一个重点应用。 布局的传统解决方案,基于盒状模型,依赖 display属性+position属性+ float属性。</p>
                        <div class="date">
                            <span title="发布日期">
                                <i class="fa fa-calendar"></i> 2017-09-12
                            </span>
                            <span title="阅读数">
                                <i class="fa fa-eye"></i> 999
                            </span>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="./article?id=1">
                    <img class="img" src="/images/article.jpg" alt="" />
                    <div class="content">
                        <h3>flex布局</h3>
                        <p>Flex 布局语法教程分类 编程技术 网页布(layout)是CSS的一个重点应用。 布局的传统解决方案,基于盒状模型,依赖 display属性+position属性+ float属性。</p>
                        <div class="date">
                            <span title="发布日期">
                                <i class="fa fa-calendar"></i> 2017-09-12
                            </span>
                            <span title="阅读数">
                                <i class="fa fa-eye"></i> 999
                            </span>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="./article?id=1">
                    <img class="img" src="/images/article.jpg" alt="" />
                    <div class="content">
                        <h3>flex布局</h3>
                        <p>Flex 布局语法教程分类 编程技术 网页布(layout)是CSS的一个重点应用。 布局的传统解决方案,基于盒状模型,依赖 display属性+position属性+ float属性。</p>
                        <div class="date">
                            <span title="发布日期">
                                <i class="fa fa-calendar"></i> 2017-09-12
                            </span>
                            <span title="阅读数">
                                <i class="fa fa-eye"></i> 999
                            </span>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="./article?id=1">
                    <img class="img" src="/images/article.jpg" alt="" />
                    <div class="content">
                        <h3>flex布局</h3>
                        <p>Flex 布局语法教程分类 编程技术 网页布(layout)是CSS的一个重点应用。 布局的传统解决方案,基于盒状模型,依赖 display属性+position属性+ float属性。</p>
                        <div class="date">
                            <span title="发布日期">
                                <i class="fa fa-calendar"></i> 2017-09-12
                            </span>
                            <span title="阅读数">
                                <i class="fa fa-eye"></i> 999
                            </span>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="./article?id=1">
                    <img class="img" src="/images/article.jpg" alt="" />
                    <div class="content">
                        <h3>flex布局</h3>
                        <p>Flex 布局语法教程分类 编程技术 网页布(layout)是CSS的一个重点应用。 布局的传统解决方案,基于盒状模型,依赖 display属性+position属性+ float属性。</p>
                        <div class="date">
                            <span title="发布日期">
                                <i class="fa fa-calendar"></i> 2017-09-12
                            </span>
                            <span title="阅读数">
                                <i class="fa fa-eye"></i> 999
                            </span>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="./article?id=1">
                    <img class="img" src="/images/article.jpg" alt="" />
                    <div class="content">
                        <h3>flex布局</h3>
                        <p>Flex 布局语法教程分类 编程技术 网页布(layout)是CSS的一个重点应用。 布局的传统解决方案,基于盒状模型,依赖 display属性+position属性+ float属性。</p>
                        <div class="date">
                            <span title="发布日期">
                                <i class="fa fa-calendar"></i> 2017-09-12
                            </span>
                            <span title="阅读数">
                                <i class="fa fa-eye"></i> 999
                            </span>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
        <div class="page">
            <div>
                <a href="#" title="首页">首页</a>
                <a href="#" title="上一页">上一页</a>
                <a href="#" title="1">1</a>
                <a href="#" title="2">2</a>
                <a href="#" title="3">3</a>
                <a href="#" title="...">...</a>
                <a href="#" title="97">97</a>
                <a href="#" title="98">98</a>
                <a href="#" title="99">99</a>
                <a href="#" title="下一页">下一页</a>
                <input type="number" value="" />
                <button>跳转</button>
            </div>
        </div>
    </div>

<%include footer.ejs %>
