@import './mixin.scss';

html{
  width: 100%;
  height: 100%;
  background-color: #8debfd;
  overflow: hidden;
}
body{
  padding: 0;
  margin: 0 auto;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}
.body{
  height: 100%;
  margin: 0 auto;
  max-width: 1280px;
}

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}

ul{
  padding: 0;
  margin: 0;
  li{
    list-style: none;
  }
}

a{
  color: #333;
  text-decoration: none;
}

.v-middle{
  display: inline-block;
  vertical-align: middle;
}
.v-top{
  display: inline-block;
  vertical-align: top;
}

header{
  width: 180px;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9;
  background-color: #f6f6f6;
  & > div {
    height: 100px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    background-color: #9b6dd3;
    img {
      width: 50px;
      height: 50px;
    }
  }
  ul {
    li {
      a {
        display: block;
        line-height: 50px;
        font-size: 16px;
        color: #666;
        padding: 0 20px;
        position: relative;
        &:hover {
          background-color: #fff;
        }
      }
    }
  }
  form{
    border-top: 1px solid #eee;
    font-size: 0;
    margin-top: 10px;
    padding-top: 10px;
    text-align: center;
    input{
      @extend .v-middle;
      font-size: 14px;
      &[type="search"]{
        width: 120px;
        padding: 0 10px;
        line-height: 28px;
        border-radius: 12px 0 0 12px;
        border: 1px solid #e5e5e5;
        outline: none;
      }
      &[type="submit"]{
        font-size: 14px;
        cursor: pointer;
        width: 50px;
        line-height: 28px;
        padding: 0;
        color: #fff;
        background-color: #9b6dd3;
        border: 1px solid #9b6dd3;
        border-radius: 0 12px 12px 0;
        &:hover{
          opacity: 0.8;
        }
      }
    }
  }
}

.page{
  margin: 10px 0;
  text-align: center;
  & > div{
    text-align: center;
    display: inline-block;
    font-size: 0;
    a{
      font-size: 12px;
      min-width: 30px;
      line-height: 28px;
      margin: 0 5px;
      padding: 0 5px;
      box-sizing: border-box;
      border: 1px solid #000;
      @extend .v-top;
      @include transition(all 0.6s);
      &:hover{
        color: #fff;
        border-color: #9b6dd3;
        background-color: #9b6dd3;
      }
    }
    input{
      width: 40px;
      height: 28px;
      padding: 0 5px;
      margin-left: 10px;
      border: 1px solid #000;
      border-right: none;
      border-radius: 6px 0 0 6px;
      @extend .v-top;
    }
    button{
      color: #fff;
      width: 50px;
      line-height: 28px;
      padding: 0;
      border: 1px solid #9b6dd3;
      background-color: #9b6dd3;
      border-radius: 0 6px 6px 0;
      @extend .v-top;
      @include transition(all 0.6s);
      &:hover{
        border-color: #000;
        background-color: #000;
      }
    }
  }
}

footer{
  height: 75px;
  color: #fff;
  margin: 0 160px 0 190px;
  padding-bottom: 25px;
  position: relative;
  background-color: #000;
  ul{
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    li{
      flex: 1;
      text-align: center;
    }
  }
  .record{
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    a{
      color:#fff;
    }
    span{
      margin-right: 20px;
    }
  }
}

.bg-box{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  perspective: 1px;
}
.bg{
  position: fixed;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 50%;
  width: 500%;
  @include transform(translate(-50%,-50%));
  background: url('../images/clouds.png') repeat;
  &.bg1{
    @include transform(translateZ(-1px) scale(2.2));
    @include animation(move 40s alternate infinite);
  }
  &.bg2{
    @include transform(translateZ(-5px) scale(6.2));
    @include animation(move 35s alternate-reverse infinite);
  }
  &.bg3{
    @include transform(translateZ(-8px) scale(9.2));
    @include animation(move 50s alternate infinite);
  }
}

@keyframes move {
  from{
    margin-left: -50%
  }
  to{
    margin-left: 50%;
  }
}

@keyframes top {
  to{
    background-position: center -378px;
  }
}

.top{
  position: fixed;
  bottom: 120px;
  right: 30px;
  width: 36px;
  height: 76px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  background: url("../images/top.png") no-repeat center 4px;
  background-size: 70px;
  &:hover{
    @include animation(top steps(5) .8s infinite);
  }
}

.container{
  margin: 0 160px 0 190px;
  box-sizing: border-box;
  position: relative;
  .article{
    padding: 10px;
    background-color: #fff;
    li{
      position: relative;
      height: 100px;
      margin-bottom: 10px;
      a{
        position: relative;
        display: block;
        .img{
          width: 200px;
          height: 100px;
          position: absolute;
          top: 0;
          left: 0;
        }
        .content{
          height: 100px;
          overflow: hidden;
          padding-left: 220px;
          position: relative;
          p{
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp:3;
            -webkit-box-orient: vertical;
          }
          .date{
            position: absolute;
            bottom: 0;
            left: 220px;
            color: #999;
            font-size: 12px;
            span:first-child{
              margin-right: 20px;
            }
          }
        }
      }
    }
  }
  .aside-box{
    margin-right: -160px;
    width: 160px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: -100px;
    z-index: 9;
    .aside{
      width: 150px;
      padding: 0 10px;
      margin-left: 10px;
      border: 2px solid #9b6dd3;
      border-radius: 5px;
      overflow: hidden;
      box-sizing: border-box;
      background-color:#fff;
      h3{
        color: #fff;
        margin: 0 -10px;
        padding: 5px 10px;
        background-color: #9b6dd3;
        i{
          margin-right: 10px;
        }
      }
      a{
        font-size: 12px;
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin: 4px 0;
      }
    }
  }
}
