@charset "UTF-8";
html {
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: auto;
  font: 14px Helvetica,Arial,"Hiragino Sans GB","Microsoft Yahei","微软雅黑",STHeiti,"华文细黑",sans-serif; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

a {
  color: #333;
  text-decoration: none; }

.v-middle, header > div img, header > div ul, header > div form input {
  display: inline-block;
  vertical-align: middle; }

.v-top, .page > div a, .page > div input, .page > div button {
  display: inline-block;
  vertical-align: top; }

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #000; }
  header > div {
    font-size: 0;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
    position: relative; }
    header > div img {
      width: 50px;
      height: 50px;
      margin-right: 20px; }
    header > div ul li {
      margin: 0 10px;
      display: inline-block; }
      header > div ul li a {
        display: block;
        line-height: 50px;
        font-size: 14px;
        color: #fff;
        font-weight: 600;
        padding: 0 20px;
        position: relative; }
        header > div ul li a span {
          position: relative;
          z-index: 2;
          transition: all 0.5s;
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -o-transition: all 0.5s; }
        header > div ul li a .bone {
          width: 80%;
          height: 20px;
          position: absolute;
          top: 50%;
          left: 50%;
          z-index: 1;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%); }
          header > div ul li a .bone .left, header > div ul li a .bone .right {
            width: 18px;
            height: 36px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -o-transform: translateY(-50%); }
          header > div ul li a .bone .left:before, header > div ul li a .bone .left:after, header > div ul li a .bone .right:before, header > div ul li a .bone .right:after {
            content: "";
            display: block;
            width: 18px;
            height: 18px;
            border-radius: 50%; }
          header > div ul li a .bone .left {
            left: 0;
            margin-left: -10px; }
          header > div ul li a .bone .right {
            right: 0;
            margin-right: -10px; }
        header > div ul li a:hover span {
          color: #d20a11; }
        header > div ul li a:hover .bone {
          background-color: #fff; }
          header > div ul li a:hover .bone .left:before, header > div ul li a:hover .bone .left:after, header > div ul li a:hover .bone .right:before, header > div ul li a:hover .bone .right:after {
            background-color: #fff; }
    header > div form {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%); }
      header > div form input {
        font-size: 14px; }
        header > div form input[type="search"] {
          width: 280px;
          padding: 0 10px;
          line-height: 28px;
          border-radius: 12px 0 0 12px;
          border: 1px solid #e5e5e5;
          outline: none; }
        header > div form input[type="submit"] {
          cursor: pointer;
          width: 60px;
          line-height: 28px;
          padding: 0;
          color: #fff;
          background-color: #d20a11;
          border: 1px solid #d20a11;
          border-radius: 0 12px 12px 0; }

.page {
  margin: 10px 0;
  text-align: right; }
  .page > div {
    text-align: center;
    display: inline-block;
    font-size: 0; }
    .page > div a {
      font-size: 12px;
      min-width: 30px;
      line-height: 28px;
      margin: 0 5px;
      padding: 0 5px;
      box-sizing: border-box;
      border: 1px solid #000;
      transition: all 0.6s;
      -webkit-transition: all 0.6s;
      -moz-transition: all 0.6s;
      -o-transition: all 0.6s; }
      .page > div a:hover {
        color: #fff;
        background-color: #000; }
    .page > div input {
      width: 40px;
      height: 28px;
      padding: 0 5px;
      margin-left: 10px;
      border: 1px solid #000;
      border-radius: 6px 0 0 6px; }
    .page > div button {
      color: #fff;
      width: 50px;
      line-height: 28px;
      padding: 0;
      border: 1px solid #d20a11;
      background-color: #d20a11;
      border-radius: 0 6px 6px 0; }

.container {
  min-height: calc(100% - 100px); }

footer {
  height: 75px;
  color: #fff;
  padding-bottom: 25px;
  position: relative;
  background-color: #000; }
  footer ul {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px 0;
    display: flex; }
    footer ul li {
      flex: 1;
      text-align: center; }
  footer .record {
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0; }
    footer .record span {
      margin-right: 20px; }

@keyframes top {
  to {
    background-position: center -378px; } }

.top {
  position: fixed;
  bottom: 120px;
  right: 30px;
  width: 36px;
  height: 76px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  background: url("../images/top.png") no-repeat center 4px;
  background-size: 70px; }
  .top:hover {
    animation: top steps(5) 0.8s infinite;
    -webkit-animation: top steps(5) 0.8s infinite;
    -moz-animation: top steps(5) 0.8s infinite;
    -o-animation: top steps(5) 0.8s infinite; }

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 90px 0 20px;
  box-sizing: border-box; }
  .container .article {
    padding-right: 170px; }
    .container .article li {
      position: relative;
      height: 100px;
      margin-bottom: 20px; }
      .container .article li a {
        position: relative;
        display: block; }
        .container .article li a .img {
          width: 200px;
          height: 100px;
          position: absolute;
          top: 0;
          left: 0; }
        .container .article li a .content {
          height: 100px;
          overflow: hidden;
          padding-left: 220px;
          position: relative; }
          .container .article li a .content p {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical; }
          .container .article li a .content .date {
            position: absolute;
            bottom: 0;
            left: 220px;
            color: #999;
            font-size: 12px; }
            .container .article li a .content .date span:first-child {
              margin-right: 20px; }
    .container .article .aside {
      width: 126px;
      padding: 0 10px;
      position: fixed;
      margin-left: 830px;
      border: 2px solid #d20a11;
      border-radius: 5px;
      overflow: hidden; }
      .container .article .aside h3 {
        color: #fff;
        margin: 0 -10px;
        padding: 5px 10px;
        background-color: #d20a11; }
        .container .article .aside h3 i {
          margin-right: 10px; }
      .container .article .aside a {
        font-size: 12px;
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin: 4px 0; }

/*# sourceMappingURL=style.css.map */