@import './mixin.scss';

html{
  height: 100%;
}
body{
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: auto;
  font: 14px Helvetica,Arial,"Hiragino Sans GB","Microsoft Yahei","微软雅黑",STHeiti,"华文细黑",sans-serif;
}

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}

ul{
  padding: 0;
  margin: 0;
  li{
    list-style: none;
  }
}

a{
  color: #333;
  text-decoration: none;
}

.v-middle{
  display: inline-block;
  vertical-align: middle;
}

header{
  @include grad(#bd48ff, #9406ff);
  div{
    font-size: 0;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    img{
      width: 50px;
      height: 50px;
      margin-right: 20px;
      @extend .v-middle;
    }
    ul{
      @extend .v-middle;
      li{
        display: inline-block;
        a{
          display: block;
          line-height: 50px;
          font-size: 14px;
          color: #fff;
          font-weight: 600;
          padding: 0 20px;
          position: relative;
          i{
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 0;
            color: #ff06d5;
            opacity: 1;
            @include transition(all 1s);
            @include transform(translate(-50%, -50%));
            &.fa{
              font: normal normal normal 0px/1 FontAwesome;
            }
          }
          &:hover{
            //color: #9406ff;
            i{
              font-size: 60px;
              opacity: 0;
            }
          }
        }
      }
    }
    form{
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      input{
        @extend .v-middle;
        font-size: 14px;
        &[type="search"]{
          width: 280px;
          padding: 0 10px;
          line-height: 28px;
          border-radius: 12px 0 0 12px;
          border: 1px solid #e5e5e5;
          outline: none;
        }
        &[type="submit"]{
          width: 60px;
          line-height: 28px;
          padding: 0;
          color: #fff;
          background-color: #ff06d5;
          border: 1px solid #ff06d5;
          border-radius: 0 12px 12px 0;
        }
      }
    }
  }
}
